.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    justify-content: flex-start;
    max-width: 350px;
    max-height: 500px;
    min-height: 500px;
    min-width: 350px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 $grey-color-light;
}

.card-body {
    margin: 40px;
}

.card-title {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.contact-form-box {
    /* border: 4px dotted red; */
    -moz-box-shadow:    0 8px 16px 0 $grey-color-light;
    -webkit-box-shadow: 0 8px 16px 0 $grey-color-light;
    box-shadow:         0 8px 16px 0 $grey-color-light; 
}
