#welcome { 
  background: url("/img/baybridge.JPG") 50% 0 repeat fixed; min-height: 600px; 
  background-size:cover;
  height: 700px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 

}
 
#information { 
  height: 600px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}

#intermezzo {  
  background: url("/img/intermezzo.jpg") 50% 0 no-repeat fixed; min-height: 600px; 
  background-size:cover;
  height: 700px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 

}


#intermezzo2 { 
  background: url("/img/moon.jpg") 50% 0 repeat fixed; min-height: 600px; 
  height: 700px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 

}

#intermezzo3 { 
  background: url("/img/Earth.jpg") 50% 0 repeat fixed; min-height: 600px; 
  height: 700px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 

}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    #information {
        height: 1000px; 
    }
    
}


.panel {
    border-radius: 0px;
    
}



.projecttab {
    display: inline-block;
}

.projectlogo {
    width:30%;
    display: inline-block;
}

.projectdescription {
    width: 70%;
    display: inline-block;
}


