---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: "San Francisco Bold";
  src: url("fonts/SanFranciscoText-Regular.otf"),
       url("fonts/SanFranciscoText-Bold.otf");
}


// Our variables
$base-font-family: "San Francisco Bold", "Lucida Sans Unicode", "Lucida Grande", sans-serif;


$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;



$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
//@import "minima";
//@import "body";

body {
    font-family: $base-font-family;
    background-color: $background-color;
    color:$text-color;

}

.veritical_line {
    border-left:thin solid #111;
    height: 15px;
    display: inline-block
}

.text_footer {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    
}

a { color: inherit; 
    text-decoration: none;

} 

p {
    font-size: $base-font-size
}


h1 {
    display: inline-block;
}

.navwrap {
    padding-right: 20px;
    position:absolute;
    top:50px; /*Change as needed*/
    right:0;
}

.navwrap a {
    padding-left: 30px;
}

#back {
  padding-left: 10px;  

}

@media all and (max-width:650px){
    body {
        margin-left:0;
        overflow-x: hidden;

    }
    .navwrap { 
        width:90%; 

    }
    .profile_text { 
        margin-left: 0;
    }

    #back { 
        margin-top: 0px;
        width:100%; 

    }


}

nav {
    display: inline-block;
    vertical-align: baseline;
}



.head-right {
    text-align: right;
    display: inline-block;
}
.head-left {
    text-align: left;
    display: inline-block;
}


.contain p {
    margin: 20px 0;

}




.page-links {
    margin: 20px 30px 30px 40px;
    font-family: $base-font-family;
}

.page-titles {
    
    font-size: 100px;
}

.page-sublink {
    font-size: 35px;
}


.contain {
    margin: 20px 30px 30px 40px;
}


div.row {
    height:150px;
    vertical-align:top;
    margin: 40px auto;
    vertical-align:top;
}

div.split {
    width: 1%;
    height: 150px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align:top;
}


div.text_description {
    width: 78%;
    display: inline-block;
    
    height:150px;
    vertical-align:top;
}

.project_image {
    margin: 40px auto 0 30px;
    width: 75%;
    height: 200px;
}

.profile_section {
    display:block;
}

#profile_p {
    margin-left: 20px;
    float:left;
    display:inline-block; 
}

#profile_pic{
    padding: 0 20px 5px 0;
    float:left;
    position:relative;
    display: inline-block;
    height: 350px;
    width: 300px;

}


#personalsitelogo {
    margin-top:100px;
    height: 50px;
    width:75%;
}





.profile_text {
    margin-left: 30px;
    display: block;

}


#strava-widget {
    width: 30%;
    display:inline-block;
    margin: 20px 30px 0 0;
}


#github-widget {
    width:60%;
    display:inline-block;
    padding-top:-50px;
}
