<header>
    <a class="hamburger" onclick="openNav()">
        <img src="assets/images/hamburger.png" >

    </a>
    <div class="top-content">


<div class="header-div">

    <ul class="left-show menu-items">
      <li class='header-button'><a href="/purpose">Purpose</a></li>
      <li class='header-button'><a href="/projects">Work</a></li>
    </ul>
   

    <a href="#" class='head-logo'>
      <!-- <div href="/"><a>Tyler D Ross</a></div> -->
    </a>

    <ul class="right-show menu-items">
      <li class='header-button'><a href="/blog">Blog</a></li>
      <li class='header-button'><a href="/contact-me">Contact Me</a></li>
    </ul>

</div>


</header>