

.form-group label {
    font-size: 20px;
}

.form-group input{
        width: 90%;
    display: block;
    font-size: 16px;
}

.form-group input:placeholder{
    color:$grey-color;
}

.form-group textarea{
    width: 90%;
    display: block;
    font-size: 16px;
    resize: none;
    height:100px;
}

.form-group textarea:placeholder{
    color:$grey-color;
}

.submit-button {
    font-size: 16px;
    border-radius: 3px;
    width: 80px;
    height: 40px;
    background-color: $brand-color;
    color: white;
}

// Contact Form
.contact-form-region {
    height: 800px;
    width: 100%;
    margin: 0 -100px 0 -30px;
    background-image: url('../images/mockups/coffee.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

@include media-query(900px) {
    .form-group label {
        font-size: 16px;
    }

    .contact-form-region{
        background-image: none;
        margin-top: -200px;
        width: 100%;
         height:100%;


    }
    .contact-form {
        margin: 0 -100px 0 -30px;
        width: 130%;


    }
    .submit-button {
        float: center;

    }
    .form-group textarea{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .form-group input{
        width: 100%;
        display: block;
        font-size: 12px;
    }



}

@include media-query($on-palm) {
    .form-group textarea{
        width: 300px;
        display: block;
        font-size: 14px;
    }
    .form-group input{
        width: 300px;
        display: block;
        font-size: 14px;
    }
    .contact-form-region {
    }
    .contact-form {

    }



}

.form-group {
    padding-bottom: 30px;
    display: block;
}

.contact-form {
    position: relative;
    margin: 10% auto 0px auto;
    background: #fff;
    color:black;
    padding: 50px 50px 100px 50px;
    display: block; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);



}
