// SlideShow CSS

@include media-query($on-tablet) {

    .slide {
        width: 100%;
    }
    .slide-selector {
        display: none;
    }
    .slide-selector.selected {
        display: block;
        margin-bottom: -50px;
    }

}

.slide {
    display: none;    
    margin: 0 auto;


}
.slide:hover{
    color: #fff;

}

.slide.active {
    display: block !important;
    margin: 0 auto;

}

.slide.active img{
    transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;

}

.section-title {
    font-size: 28px;
}

.section-description {
    font-size: 20px;
}